@import "../bower_components/bootstrap/less/bootstrap.less";

html, body {
    font-family: "Junge", "Times New Roman", Times, serif;
// font-family: 'Source Code Pro', ;
}


h1 {
    border-bottom: 1px solid #333;
}

h2 {
    padding-bottom: 10px;
}

.media-left {
    width: 96px;
    min-width: 96px;
    max-width: 96px;
}

.media {
    margin: 40px 0;
}