@import "../bower_components/bootstrap/less/bootstrap.less";

html, body {
    font-family: "Junge", "Times New Roman", Times, serif;
    // font-family: 'Source Code Pro', ;
}

html {
    padding: 5px;
}


h1 {
    border-bottom: 1px solid #333;
}

h2 {
    padding-bottom: 10px;
}

.media-left {
    width: 96px;
    min-width: 96px;
    max-width: 96px;
}

.media {
    margin: 40px 0;
}



.transform(@transform) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -ms-transform: @transform; /* note that you have @trasnform here */
    -o-transform: @transform;
    transform: @transform; 

}

.transform-origin(@transform-origin) {
    -webkit-transform-origin: @transform-origin;
    -moz-transform-origin: @transform-origin;
    -ms-transform-origin: @transform-origin; /* note that you have @trasnform here */
    -o-transform-origin: @transform-origin;
    transform-origin: @transform-origin; 

}

.animation-delay(@animation-delay) {
    -webkit-animation-delay: @animation-delay;
    -moz-animation-delay: @animation-delay;
    -ms-animation-delay: @animation-delay; /* note that you have @trasnform here */
    -o-animation-delay: @animation-delay;
    animation-delay: @animation-delay; 

}


.deco-header {
    position: relative;
    height: 50px;
    
}
.deco-base {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    & > .deco-rel {
        position:relative;
        & > * {
            position: absolute;
            border-radius: 100px;
            width: 20px;
            height: 20px;
            border-width: 2px;
            border-style: solid;
            border-color:white;
            box-shadow: 0 0 5px 0px #aaa;
            animation: time 12s infinite ease;
            left: 10px;
            top: 10px;
        }
    }
}


.deco-1 {
    .transform-origin(-10px -10px);
    background-color: black;
}
.deco-2 {
    .transform-origin(-10px 10px);
    background-color: purple;
}
.deco-3 {
    .transform-origin(10px -10px);
    background-color: pink;
}
.deco-4 {
    .transform-origin(10px 10px);
    background-color: red;
}


@keyframes time {
    to {
        .transform(rotate(360deg));
    }
}
